.read-doc-container .ql-toolbar {
    visibility: hidden;
    height: 0;
    padding: 0;
}

.read-doc-container .ql-container.ql-snow {
    border-width: 0;
}

.read-doc-container .ql-editor {
    padding: 0;
}